<div class="container mx-auto">
  <div>
    <div>Back to Podcasts</div>
  </div>
  <div class="flex flex-row">
    <div class="flex flex-col gap-2 max-w-sm w-full">
      <div class="hover:bg-neutral-100 rounded-lg p-2">My Profile</div>
      <div class="hover:bg-neutral-100 rounded-lg p-2">Refer a Friend</div>
      <div class="hover:bg-neutral-100 rounded-lg p-2">API Key</div>
    </div>
    <div class="flex-1">
      <div class="text-3xl font-bold py-4">Refer a Friend</div>
      <div class="text-neutral-500 pb-8">Everyone wins when you refer a friend!</div>
      <div class="flex flex-row bg-emerald-50 rounded-2xl  justify-center gap-6 p-12">
        <div>
          <div class="flex flex-row">
            <div>$</div>
            <div class="text-7xl text-emerald-600 font-bold">20</div>
          </div>
          <div class="uppercase text-3xl font-bold">for you</div>
        </div>
        <div class="text-6xl">&</div>
        <div>
          <div  class="flex flex-row">
            <div>$</div>
            <div  class="text-7xl text-emerald-600 font-bold">20</div>
          </div>
          <div class="uppercase text-3xl font-bold">for them</div>
        </div>
      </div>
      <div class="py-8">Refer a friend and you will each get a $20 Buzzsprout credit when they upgrade to any paid plan. Invite as many people as you want. There is no limit to the number of $20 credits you can receive.</div>
      <div class="space-y-4">
        <div>Share your referral link below</div>
        <div class="flex flex-row items-center gap-2">
          <div class="rounded-lg border-neutral-200 border-2 p-2">https://www.buzzsprout.com/?referrer_id=2473859</div>
          <div class="font-medium border rounded p-2">Copy</div>
        </div>
        <div class="flex flex-row items-center gap-2">
          <div class="bg-black text-white p-2 rounded-lg">Share on Facebook</div>
          <div  class="bg-black text-white p-2 rounded-lg">Post to X</div>
        </div>
      </div>
      <div class="py-16">
        <div class="font-bold text-lg">Referral Promotion Terms</div>
        <p>Referrals must sign up with your unique link to qualify for this promotion. All accounts must remain on a pay plan and maintained in good standing (paid in full) for 2 consecutive billing cycles before credits are applied to either party.</p>
        <p>At Buzzsprout's sole descretion, any attempt to take advantage of the referral program to the detriment of Buzzsprout may result in termination of your account.</p>
        <p>Void where prohibited by law. If any provision of the Referral Promotion Terms or the Buzzsprout terms of service is held invalid or otherwise unenforceable, the enforceability of the remaining provisions shall not be impaired thereby.</p>
      </div>
    </div>
  </div>
</div>