<% content_for :secondary_navigation do %>
  <div class="container mx-auto">
    <%= render "users/shared/secondary_navigation" %>
  </div>
<% end %>
<%= render "users/shared/layout" do %>
  <div class="container mx-auto">
    <div>
      0 downloads in the last 30 days.
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 bg-amber-500 rounded-lg p-8">
      <div>
        <div class="font-bold uppercase">The Podcast Predictor</div>
        <div>We forecast your next episode will receive</div>
        <div class="text-5xl font-bold">0 Downloads</div>
        <div><span class="font-bold">The Podcast Predictor</span> displays how many unique downloads we expect your next episode to have within its first 90 days of life. Learn more about predictions.</div>
      </div>
      <div class="grid items-center justify-center grid-cols-3 gap-0">
        <div>
          <div>Last 7 Days</div>
          <div>0</div>
        </div>
        <div>
          <div>Last 30 Days</div>
          <div>0</div>
        </div>
        <div>
          <div>Last 90 Days</div>
          <div>0</div>
        </div>
        <div class="col-span-3">
          <div>All Time Total Downloads</div>
          <div>0</div>
        </div>
      </div>
    </div>
  </div>
<% end %>