<%= render "layout" do %>
  <div class="text-3xl font-bold">Subscription Owner</div>
  <div class="flex flex-row justify-between">
    <div>
      <div>You are the owner of this subscription.</div>
      <div>johhny.8c8@gmail.com</div>
    </div>
    <div>Change owner</div>
  </div>
  <div>
    <div>The owner is the only person that has control over the following for this subscription:</div>
    <div class="space-y-2">
      <div>Billing information</div>
      <div>Plan selection (upgrading and downgrading)</div>
      <div>Enabling Add-Ons</div>
      <div>Deleting a podcast</div>
    </div>
  </div>
<% end %>