<%= render "layout" do %>
  <div class="text-3xl font-bold py-4">Plan</div>
  <div class="rounded-lg border-2 p-4 border-emerald-600">
    <div>
      <div class="uppercase bg-emerald-600 text-white rounded-full inline text-xs p-1 font-bold px-2">Current Plan</div>
    </div>
    <div class="flex flex-row items-center justify-between">
      <div class="text-neutral-500">1 podcast. Upload 2 hours a month. Episodes hosted for 90-days.</div>
      <div class="text-emerald-600 font-bold text-2xl">Free Trial</div>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-4">
    <div class="space-y-3">
      <div class="flex flex-row items-center gap-4">
        <div class="font-bold">Paid plans include</div>
        <div class="bg-emerald-600 text-white font-bold px-2 py-1 rounded-full uppercase text-xs">Premium Features</div>
      </div>
      <div class="space-y-2">
        <div>Podcast Website</div>
        <div>Listener Support</div>
        <div>Subscriptions</div>
        <div>Buzzsprout Ads</div>
        <div>Cohost AI (Add-on)</div>
        <div>Magic Mastering (Add-on)</div>
      </div>
    </div>
    <div class="space-y-3">
      <div>
        <div class="font-bold">All plans include</div>
      </div>
      <div class="space-y-2">
        <div>Video Soundbites</div>
        <div>Advanced Stats</div>
        <div>Listed in Podcast Directories</div>
        <div>Unlimited Team Members</div>
        <div>Easy Podcast Migration</div>
        <div>Podcast RSS Feed</div>
        <div>Dynamic Content</div>
        <div>Podcast Achievements</div>
        <div>Custom Embed Players</div>
        <div>In-depth Podcasting Guides</div>
      </div>
    </div>
  <% end %>