<div class="space-y-8">
  <div>
    <div class="text-7xl font-bold text-center pt-44">Start podcasting today</div>
    <div class="text-lg font-medium text-center">No credit card required. Try before you buy. Cancel anytime.</div>
    <div class="flex items-center justify-center py-6">
      <div class="font-bold text-2xl text-center rounded-lg text-white bg-black inline p-2">Start a Podcast for Free</div>
    </div>
  </div>
  <div class="container mx-auto space-y-8">
    <div class="text-center text-3xl font-bold">Premium plans that scale with your success</div>
    <div class="grid grid-col-1 md:grid-cols-3 gap-4">
      <div class="bg-card text-card-foreground shadow rounded-lg p-6 py-8 space-y-4">
        <div>Upload <span class="font-bold">4 hours</span>/mo</div>
        <div class="text-lg"><span class="font-extrabold text-5xl">$19</span>/month</div>
        <div class="font-light">Everything you need to launch a successful podcast.</div>
      </div>
      <div class="bg-card text-card-foreground shadow rounded-lg p-6 py-8 space-y-4">
        <div>Upload <span class="font-bold">15 hours</span>/mo</div>
        <div><span class="font-extrabold text-5xl">$39</span>/month</div>
        <div class="font-light">More hours for you to share across multiple podcasts.</div>
      </div>
      <div class="bg-card text-card-foreground shadow rounded-lg p-6 py-8 space-y-4">
        <div>Upload <span class="font-bold">35 hours</span>/mo</div>
        <div><span class="font-extrabold text-5xl">$79</span>/month</div>
        <div class="font-light">Launch and grow your own indie podcast network.</div>
      </div>
    </div>
  </div>
  <div class="container mx-auto space-y-8">
    <div class="text-center font-bold text-3xl">Features that will set your podcast apart</div>
    <div class="flex flex-row items-center justify-center flex-wrap gap-2">
      <div class="rounded-full border border-neutral-200 p-2">Listener Support</div>
      <div class="rounded-full border border-neutral-200 p-2">Subscriptions</div>
      <div class="rounded-full border border-neutral-200 p-2">Buzzsprout Ads</div>
      <div class="rounded-full border border-neutral-200 p-2">Podcast Website</div>
      <div class="rounded-full border border-neutral-200 p-2">Video Soundbites</div>
      <div class="rounded-full border border-neutral-200 p-2">Advanced Stats</div>
      <div class="rounded-full border border-neutral-200 p-2">Listed in Podcast Directories</div>
      <div class="rounded-full border border-neutral-200 p-2">Unlimited Team Members</div>
      <div class="rounded-full border border-neutral-200 p-2">Easy Podcast Migration</div>
      <div class="rounded-full border border-neutral-200 p-2">Podcast RSS Feed</div>
      <div class="rounded-full border border-neutral-200 p-2">Dynamic Content</div>
      <div class="rounded-full border border-neutral-200 p-2">Podcast Achievements</div>
      <div class="rounded-full border border-neutral-200 p-2">Custom Embed Players</div>
      <div class="rounded-full border border-neutral-200 p-2">In-depth Podcasting Guides</div>
    </div>
    <div class="flex flex-row items-center justify-center flex-wrap gap-2">
      <div class="rounded-full border border-neutral-200 p-2">Cohost AI (Add-on)</div>
      <div class="rounded-full border border-neutral-200 p-2">Magic Mastering (Add-on)</div>
    </div>
  </div>
  <div class="container mx-auto space-y-8 py-8">
    <div class="text-5xl font-bold">Common Questions</div>
    <div>
      <div class="font-bold">Do I have to sign a long-term contract?</div>
      <div>Nope. Buzzsprout&apos;s services are month-to-month with no long-term commitment required. You can switch plans, cancel, or move to a different host at anytime.</div>
    </div>
    <div>
      <div class="font-bold">Does Buzzsprout offer annual pricing?</div>
      <div>All of our paid plans are month-to-month so you can cancel at any time with no long term lock-in.</div>
    </div>
    <div>
      <div class="font-bold">What if I need help?</div>
      <div>We're here to support you and your podcast. If you have questions or need help, we have a complete help section and more importantly, we&apos;re only a quick email away.</div>
    </div>
  </div>
</div>