<div class="container mx-auto py-16">
  <h1 class="text-7xl font-bold">Podcast Platform Stats</h1>
  <div class="flex flex-row items-center gap-2"><span><%= I18n.t("date.month_names")[Date.today.month] %></span><span><%= Date.today.year %></span></div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
    <div class="bg-card text-card-foreground shadow rounded-lg p-4 py-8">
      <div>Monthly Downloads</div>
      <div>
        <div class="font-bold text-5xl">100,000</div>
      </div>
    </div>
    <div class="bg-card text-card-foreground shadow rounded-lg p-4 py-8">
      <div>New Episodes</div>
      <div>
        <div class="font-bold text-5xl">100,000</div>
      </div>
    </div>
    <div class="bg-card text-card-foreground shadow rounded-lg p-4 py-8">
      <div>Active Podcasts</div>
      <div>
        <div class="font-bold text-5xl">100,000</div>
      </div>
    </div>
  </div>
  <div class="flex flex-col md:flex-row items-start justify-evenly gap-6 py-8 ">
    <div class="flex-1">
      <div class="font-bold">Podcast Apps</div>
      <div class="divide-y">
        <div class="flex flex-row items-center justify-between py-2">
          <div>Apple Podcasts</div>
          <div class="flex flex-row items-center">
            <div>33,811,369</div>
            <div>37.1%</div>
          </div>
        </div>
        <div class="flex flex-row items-center justify-between py-2">
          <div>Spotify</div>
          <div class="flex flex-row items-center">
            <div>29,426,047</div>
            <div>32.3%</div>
          </div>
        </div>
        <div class="flex flex-row items-center justify-between py-2">
          <div>Web Browser</div>
          <div class="flex flex-row items-center">
            <div>6,122,032</div>
            <div>6.7%</div>
          </div>
        </div>
        <div class="flex flex-row items-center justify-between py-2">
          <div>Buzzsprout Embed Player</div>
          <div class="flex flex-row items-center">
            <div>2,800,942</div>
            <div>3.1%</div>
          </div>
        </div>
        <div class="flex flex-row items-center justify-between py-2">
          <div>Castbox</div>
          <div class="flex flex-row items-center">
            <div>1,850,252</div>
            <div>2.0%</div>
          </div>
        </div>
        <div class="flex flex-row items-center justify-between py-2">
          <div>Apple iTunes</div>
          <div class="flex flex-row items-center">
            <div>1,427,678</div>
            <div>1.6%</div>
          </div>
        </div>
        <div class="flex flex-row items-center justify-between py-2">
          <div>Overcast</div>
          <div class="flex flex-row items-center">
            <div>1,085,280</div>
            <div>1.2%</div>
          </div>
        </div>
        <div class="flex flex-row items-center justify-between py-2">
          <div>Pocket Casts</div>
          <div class="flex flex-row items-center">
            <div>990,876</div>
            <div>1.1%</div>
          </div>
        </div>
        <div class="flex flex-row items-center justify-between py-2">
          <div>Podcast Addict</div>
          <div class="flex flex-row items-center">
            <div>859,445</div>
            <div>0.9%</div>
          </div>
        </div>
        <div class="flex flex-row items-center justify-between py-2">
          <div>Amazon Music</div>
          <div class="flex flex-row items-center">
            <div>774,829</div>
            <div>0.9%</div>
          </div>
        </div>
        <div class="flex flex-row items-center justify-between py-2">
          <div>Audible</div>
          <div class="flex flex-row items-center">
            <div>553,706</div>
            <div>0.6%</div>
          </div>
        </div>
        <div class="flex flex-row items-center justify-between py-2">
          <div>iHeartRadio</div>
          <div class="flex flex-row items-center">
            <div>513,798</div>
            <div>0.6%</div>
          </div>
        </div>
        <div class="flex flex-row items-center justify-between py-2">
          <div>Podbean</div>
          <div class="flex flex-row items-center">
            <div>497,552</div>
            <div>0.5%</div>
          </div>
        </div>
        <div class="flex flex-row items-center justify-between py-2">
          <div>Amazon Echo</div>
          <div class="flex flex-row items-center">
            <div>494,191</div>
            <div>0.5%</div>
          </div>
        </div>
        <div class="flex flex-row items-center justify-between py-2">
          <div>Your Buzzsprout Site</div>
          <div class="flex flex-row items-center">
            <div>360,907</div>
            <div>0.4%</div>
          </div>
        </div>
        <div class="flex flex-row items-center justify-between py-2">
          <div>Chromecast</div>
          <div class="flex flex-row items-center">
            <div>349,581</div>
            <div>0.4%</div>
          </div>
        </div>
        <div class="flex flex-row items-center justify-between py-2">
          <div>Podimo</div>
          <div class="flex flex-row items-center">
            <div>285,345</div>
            <div>0.3%</div>
          </div>
        </div>
        <div class="flex flex-row items-center justify-between py-2">
          <div>Antenna Pod</div>
          <div class="flex flex-row items-center">
            <div>280,745</div>
            <div>0.3%</div>
          </div>
        </div>
        <div class="flex flex-row items-center justify-between py-2">
          <div>MixerBox</div>
          <div class="flex flex-row items-center">
            <div>198,553</div>
            <div>0.2%</div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-card text-card-foreground py-4 shadow rounded-lg ">
      <div class="font-bold px-4 py-1">Countries / Territories</div>
      <div class="flex items-center justify-between px-4 py-1">
        <div>United States</div>
        <div>46.2%</div>
      </div>
      <div  class="flex items-center justify-between px-4 py-1">
        <div>United Kingdom</div>
        <div>5.9%</div>
      </div>
      <div  class="flex items-center justify-between px-4 py-1">
        <div>Australia</div>
        <div>4.7%</div>
      </div>
      <div  class="flex items-center justify-between px-4 py-1">
        <div>Canada</div>
        <div>4.6%</div>
      </div>
      <div  class="flex items-center justify-between px-4 py-1">
        <div>Germany</div>
        <div>3.2%</div>
      </div>
      <div  class="flex items-center justify-between px-4 py-1">
        <div>Netherlands</div>
        <div>2.8%</div>
      </div>
    </div>
  </div>
</div>
