<%= render "layouts/shared/htmldoc" do %>
  <header class="flex flex-row items-center justify-between">
    <div><%= link_to "Podcast", "" %></div>
    <div>
      <div><%= link_to "Settings", admins_settings_path %></div>
      <div></div>
    </div>
  </header>
  <%= yield %>
  <footer></footer>
<% end %>
