<tr>
    <td>Date</td>
    <td>
        <div>Name</div>
        <div>Since you are on a free account, this episode will be deleted in <span>90</span> days. <span>Upgrade to save</span></div>
    </td>
</tr>