<article id="<%= dom_id article %>" class="w-full sm:w-auto my-5 space-y-5">
  <div class="bg-black h-96 w-full"></div>
  <div class="text-neutral-500 text-sm">September 18, 2025</div>
  <div class="font-bold text-3xl">75 Podcast Ideas and Topics to Explore in 2025</div>
  <div>Choosing the right topic for your podcast is foundational to your show's success. In this article, we share 75 ideas so you can choose a topic to stick with!</div>
  <%= link_to "Read More", blog_article_path(article), class: "border-2 border-black text-center p-2" %>
</article>
